.carousel {
    background-image: url("../icons/Vector-slider.svg");
    border-radius: $border-radius;
    background-position: left bottom;
    background-repeat: no-repeat;
    &--none{
        background-color: transparent;
        margin-bottom: 2.4rem;
    }
    &__wrapper{
        background-image: $gradient-color;
        border-radius: $border-radius;
    }
    &__content{
        position: relative;
        z-index: 3;
        max-width: 65rem;
        padding-right: 3rem;
        padding-left: 5.2rem;
        padding-top: 8rem;
        padding-bottom: 14rem;
    }
    &__cell{
        width: 100%;
        height: auto;
        margin-right: 10px;
        border-radius: 5px;
        position: relative;
        &--store{
            width: auto;
            margin-right: 4.2rem;
        }
    }
    &__text{
        font-weight: 700;
        color: $white;
        font-size: 48px;
        line-height: 150%
    }
    &__desc{
        max-width: 52rem;
        margin-top: 2.4rem;
        margin-bottom: 5.8rem;
        line-height: 2.8rem;
        color: $white;
    }
    &__img{
        max-width: 55rem;
        position: absolute;
        bottom: 0%;
        right: 0%;

    }
    &__store-link{
        width: 200px !important;
        height: 200px !important;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #181C1F;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__store-img{
        max-height: 170px;
        max-width: 170px;
        width: auto;
        height: auto;
    }
    &__btn{
        display: none;
        margin: 20px 50px;
    }
  }

.flickity-page-dots .dot {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background-color: $carousel-dots;
    margin: -10px 8px;
}

.flickity-page-dots .dot.is-selected {
    width: 32px;
    background-color: $brand-color-light;
  }


@media (max-width: 991.98px) { 
    .carousel__text{
        font-size: 3.5rem;
      }
      .carousel__img{
        position: static;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
      }
      .carousel__content{
        padding: 30px 50px;
        padding-bottom: 0;
      }
      .carousel .btn--primary-light--little{
        display: none;
      }
      .carousel__desc{
        margin-bottom: 0%;
      }
      .carousel__btn{
        display: inline-block;
      }
}