.card{
    scroll-snap-align: center;
    &:not(:last-child){
        margin-bottom: 32px;
    }
    display: flex;
    align-items: center;
    position: relative;
    &--innovations{
        background-color: $black-dark-mode-v2;
        padding: 2.4rem;
        border: 0.1rem solid transparent;
        border-radius: $border-radius;
        &:not(:last-child){
            margin-bottom: 1.6rem;
        }
        &::after{
            display: none;
        }
        &:hover{
            border-color: $brand-color-light;
        }
    }
    &:not(:last-child)::after{
        content: '';
        position: absolute;
        bottom: -16px;
        right: 0;
        height: 1px;
        width: calc(100% - 32px - 200px);
        background-color: rgba($black-dark,0.2);
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        margin-left: 32px;
        flex: 1 1 auto;
    }
    &__title{
        font-weight: 700;
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
        
    }
    &__date{
        font-size: 14px;
        line-height: 22px;
    }
    &__button{
        color: #C9FFC7;
        line-height: 24px;
        display: inline-block;
        margin-top: auto;
        &:hover{
            color: #C9FFC7;
        }
    }
    &:hover .card__title{
        color: #C9FFC7;
    }
    &__btn{
        display: none;
    }
}

@media (max-width: 991.98px) { 
  .card{
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    &:not(:last-child){
      margin-bottom: 0%;
    }
    &__body{
      padding: 16px 16px 24px;
      margin: 0%;
      
    }
    &__date{
      margin-bottom: 24px;
    }
    &__button{
      margin-top: 28px;

    }
    &::after{
      display: none;
    }
    &__btn{
      display: inline-block;
    }
  }
  .card--innovations{
    flex-direction: row;
    border: 0.1rem solid transparent;
    &:not(:last-child){
        margin-bottom: 1.6rem;
    }
}
}

@media (max-width: 575.98px) {
  .card--innovations{
    flex-direction: column;
    padding: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    & img{
        width: 100%;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
}
.card__date{
    margin-bottom: 0%;
}
}