.tabs{
    @include flexbox;
    cursor: pointer;
    border-radius: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    &--fit{
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 auto 5.6rem;
        overflow-x: auto;
    }
    &__separate{
        display: inline-block;
        padding: 12px 15px;
        min-width: 104px;
        transition: color .15s ease-in-out,
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
        &:not(:first-child){
            margin-left: 0.8rem;
        }
        &--shops{
            min-width: 15.2rem;
            padding: 1.5rem 2.7rem ;
            display: flex;
        }
        &--isActive{
            background-color: #22252C;
            box-shadow: $shadow;
            border-color: transparent ;
            color: $brand-color-light;
        }
        &--isActiveTariffs{
            background-color: $black-dark-mode-v2;
            box-shadow: $shadow;
            color: $brand-color-light;
        }
    }
    &__text{
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.8rem;
        color: $white;
        font-weight: $fw-medium;
    }
    &__adjacent{
        padding: 1.5rem 5rem;
        color: $white;
        flex: 1 1 auto;
        white-space: nowrap;
        &--isActive{
            background-color: $black-dark-mode;
            box-shadow: $shadow;
            border-radius: 0.8rem;
            color: $brand-color-light;
            &--light{
                background-color: $black-dark-mode-v2;
            }
        }
        
    }
}

@media (max-width: 1399.98px) { 
    .calculator--little .tabs__adjacent{
        padding: 1.5rem 4.5rem;
    }
}

@media (max-width: 1199.98px) { 
    .tabs__adjacent{
        padding: 1.5rem 2.8rem;
    }

    .calculator--little .tabs__adjacent{
        padding: 1.5rem 4rem;
    }
}

@media (max-width: 991.98px) {
    .tabs__adjacent{
        padding: 1.5rem 8rem;
    }
    .calculator--little .tabs__adjacent{
        padding: 1.5rem 7.8rem;
    }
}

@media (max-width: 767.98px) { 
    .tabs__adjacent{
        padding: 1.5rem 5rem;
      }
    .tabs__separate{
        min-width: auto;
    }
    .calculator--little .tabs__adjacent{
        padding: 1.5rem 5rem;
    }

}

@media (max-width: 575.98px) {
    .tabs__adjacent{
        padding: 1.5rem 3.5rem;
    }
    .calculator--little .tabs__adjacent{
        padding: 1.5rem 3.2rem;
    }
}

@media (max-width: 575.98px){
.tabs__adjacent {
    padding: 1.5rem 1.5rem;
}}