.tariff{
    padding: 2.1rem 5.5rem 2.1rem 3.1rem;
    @include flexbox(space-between);
    border: 1px solid rgba($white,0.5);
    border-radius: $border-radius;
    background-color: $black-dark-mode-v2;
    &:not(:last-child){
        margin-bottom: 0.8rem;
    }
    &__icon{
        background-color: $black-dark-mode;
        box-shadow: $shadow;
        border-color: transparent;
        transition: all 0.3s ease 0s;
        width: min-content;
        padding: 17px;
        border-radius: 8px;
        display: inline-block;
    }
    &__head{
        @include flexbox;
    }
    &__title{
        font-size: 2rem;
        line-height: 2.8rem;
        color: $white;
        margin-left: 3.2rem;
        margin-right: 1.4rem;
    }
    &__category{
        @include flexbox;
    }
    &__price{
        &:not(:first-child){
            margin-left: 16rem;
        }
    }
    &__class{
        font-weight: $fw-medium;
        font-size: 1.4rem;
        color: $brand-color-light;
        line-height: 2.4rem;
    }
    &__amount{
        font-weight: $fw-bold;
        line-height: 2.4rem;
        color: $white;
    }
    &:hover{
        border-color: $brand-color-light;
    }
    &__old-amount{
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}



@media (max-width: 1199.98px) { 
    .tariff__price{
        &:not(:first-child){
          margin-left: 8rem;
        }
      }
}

@media (max-width: 991.98px) { 
    .tariff__icon{
        padding: 9px;
    }
    .tariff__title{
    font-size: 18px;
    margin-left: 16px;
    }
    .tariff__price{
    &:not(:first-child){
        margin-left: 3.5rem;
    }
    }
}

@media (max-width: 767.98px) {
    .tariff__tabs-text{
        display: none;
    }
    .tariff{
        flex-direction: column;
        align-items: start;
    }
    .tariff__category{
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }
 }

@media (max-width: 575.98px) {
    .tariff__head{
        flex-direction: column;
        align-items: flex-start;
    }
    .tariff__title{
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
        margin-top: 8px;
    }
    .tariffs{
        padding: 32px 16px 40px ;
    }
 }







