.form{
    &--signup{
        padding: 2.4rem 4.8rem 4rem 2.4rem;
        width: calc(100% - 32.8rem);
    }
    &--signin{
        margin-left: 4.8rem;
        padding: 2.4rem 6.4rem 3.2rem 6.4rem;
        width: calc(100% - 49.7rem);
    }
    &__item{
        width: 100%;
        position: relative;
    }
    &__placeholder{
        position: absolute;
        left: 1.7rem;
        top: 1.6rem;
        transition: all .15s ease-in-out;
    }
    &__input{
        width: 100%;
        display: inline-block;
        outline: none;
        height: 5.6rem;
        padding: 1.6rem;
        color: $white;
        border-radius: $border-radius;
        font-weight: 500;
        border: 1px solid $black-dark-mode;
        font-size: 1.6rem;
        line-height: 1.5;
        background-color:  $black-dark-mode ;
        transition: border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
        // &:focus+label{
        //     left: 1.7rem;
        //     top: 0.4rem;
        //     font-size: 1.4rem;
        //     color: rgba(#fff, .3);
        // }
        // &:focus{
        //     padding-bottom: 0;
        // }
        

    }
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__helper{
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $warning;
        margin-left: 1.6rem;
        margin-top: 0.5rem;
    }
    &__icon-box{
        position: absolute;
        top: 1.3rem;
        right: 0.5rem;
        display: inline-block;
        background-color: $black-dark-mode;
        padding: 0.5rem 1rem;
    }
    &__icon{
        color:$white-pale;
    }
    &__video{
        display: flex;
        cursor: pointer;
    }
    &__video-text{
        padding-left: 0.5rem;
    }
    &__highlight{
        color: $brand-color-light;
    }
    &__textarea{
        margin-bottom: 3.2rem;
        width: 100%;
        border-radius: $border-radius;
        background-color: $black-dark-mode;
        border: 0.1rem solid $black-dark-mode;
        padding: 1.5rem;
        height: 9.6rem !important;
        color: $white !important;
        font-weight: 500;
        outline: none;
        resize: none;
    }
}


@media (max-width: 1199.98px) { 
    .form--signin{
        padding-left: 0;
        width: calc(100% - 32.8rem);
        padding-right: 0;
    }
}


@media (max-width: 991.98px) {
    .form--signin{
        width: 100% !important;
        margin: 0 !important;
        order: -1;
    }
    .form--signup{
        width: 100%;
        padding: 0%;
      }
}