.container-pages{
    width: 960px;
    max-width: 960px;
    margin: auto;
}



@media screen and (max-width: 991.98px) {
    .container-pages{
        width: 85%
    } 
}

@media screen and (max-width: 767.98px) {
    .container-pages{
        width: 90%;
    } 
}

