.header{
    &__top{
        background-color: $black-dark-mode-v2;
    }
    &__top-inner{
        @include flexbox(space-between);

    }
    &__top-info{
        display: flex;
    }
    &__top-link{
        font-size: 1.4rem;
        color: $hdr-top-text-clr;
        transition: 0.5s all;
        cursor: pointer;
        &:not(:last-child){
            display: inline-block;
            margin-right: 3rem;
        }
        &:hover,&:focus{
            color: $white;
        }
    }
    &__top-main{
        @include flexbox(flex-end);
    }

    &__currency{
        margin-right: 3rem;
        color: $hdr-top-text-clr;
        width: 150px;
        height: 25px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        line-height: 23px;
        position: relative;
    }
    &__current-item{
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        width: 100%;
        margin-left: 0 !important;
        opacity: 0;
        transition: none !important;
        animation-iteration-count: infinite !important;
        &--animation-1{
            animation: moveCurrent-1 8s ease-out;
        }
        &--animation-2{
            animation: moveCurrent-2 8s ease-out;
        }
        
    }

    &__phone{
        @include flexbox();
        & i{
            color: $hdr-top-text-clr;
            transition: 0.5s all ease-in-out;
        }
        &__numbers{
            color: $hdr-top-text-clr;
            transition: 0.5s all ease-in-out;
        }
        &:focus i,&:focus &__numbers,
        &:active i,&:active &__numbers,
        &:hover i,&:hover &__numbers{
            color: $brand-color-light;
        }
        
        
    }
    &__lang{
        margin-left: 2rem;
        padding: 1.6rem;
        white-space: nowrap;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        &__list{
            width: 100%;
            z-index: 3;
            position: absolute;
            left: 0%;
            top: 90%;
            background-color: $black-dark-mode;
            border-bottom-left-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
            box-shadow: 0 0 0 1px rgba(68, 68, 68 , 0.11);
            
        }
        &__list-item{
            &:first-child a{
                margin-top: 0.7rem;
            }
            &:last-child a{
                margin-bottom: 0.7rem;
            }
        }
        &__item-link{
            display: inline-block;
            text-transform: uppercase;
            padding: 0.8rem 1.6rem;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #fff;
            cursor: pointer;
            width: 100%;
            &:hover{
                background-color: rgba(240,244,240,0.05);
                color: $white;
            }
        }
        &__current{
            font-weight: 500;
            color: $hdr-top-text-clr;
            &::after{
               content: '';
               display: inline-block;
               border: 0.2rem solid $white-pale;
               border-left: none;
               border-top: none;
               width: 1rem;
               height: 1rem;
               margin-left: 1.6rem;
               transform: rotate(45deg);
               margin-bottom: 0.4rem;
            }
            &:hover{
                color: $hdr-top-text-clr;
            }
            
        }
        &:focus{
            background-color: $black-dark-mode;
            color: $hdr-top-text-clr;
        }
    }

    &__bottom{
        margin-top: 2.4rem;
        @include flexbox(space-between)
    }
    &__logo{
        margin-right: 4.08rem;
    }
    &__navbar{
        @include flexbox(flex-start);
    }
    &__list{
        display: flex;
    }
    &__list-item{
        margin: 0 1.7rem;
        &:first-child{
            margin-left: 0%;
        }
    }
    &__item-link{
        text-transform: uppercase;
        line-height: 2.4rem;
        cursor: pointer;
        color:$white;
        font-weight: 500;
        transition: 0.5s color;
        &:focus,
        &:active,
        &:hover{
            color: $brand-color-light;
        }

    }
    &__user-side{
        @include flexbox(flex-end);
    }
    &__user-account{
        @include flexbox;
        &__text{
            margin-left: 0.8rem;
            font-weight: 500;
            line-height: 2.4rem;
            color: $white;
            transition: 0.5s color;
        }
        & i{
            transition: 0.5s color;
        }
        &:focus i, &:focus span,
        &:active i, &:active span,
        &:hover i, &:hover span{
            color: $brand-color-light;
        }
    }
    &__hidden{
        @include flexbox;
    }
    &__cart{
        @include flexbox;
        margin-left: 3.2rem;
        margin-right: 2rem;
        position: relative;
        &--little{
            margin: 0%;
            display: none;
        }
        &__count{
            position: absolute;
            background-color: $red;
            font-size: 1.2rem;
            line-height: 1.6rem;
            border-radius: 50%;
            padding: 0.4rem 0.8rem;
            font-weight: 500;
            color: $white;
            bottom: 70%;
            left: 70%;
        }
        & i{
            transform: 0.5s color;
        }
        & i:hover{
            color: $brand-color-light;
        }
        
    }


}

@media (min-width: 1199.98px) { 
    .header__hidden{
        display: none;
    }
}

@media (max-width: 1199.98px) { 
    .header__user-account__text{
        display: none;
      }
    .header__list-item{
    margin-right: 0.6rem;
    }
}

@media (max-width: 991.98px) { 
    .header__hidden{
        display: flex;
    }
    .heading--news{
        margin-bottom: 45px;
      }
    .header__nav{
    display: none;
    }
    .header__currency{
    display: none;
    }
    .menu__btn{
        display: inline-block;
        cursor: pointer;
      }
}

@media (max-width: 767.98px) { 
    .heading__title{
        font-size: 35px;
      }
      .heading__text--bigger{
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
      .header__top{
        display: none;
      }
      .header__bottom{
        margin-top: 0%;
        padding: 16px;
        height: 64px;
      }
      .header__cart--little{
        display: flex;
      }
      .header__cart--bigger{
        display: none;
      }
      .menu__btn{
        margin-right: 16px;
      }
}

@media (max-width: 575.98px) { 
    .heading__title{
        font-size: 2.5rem;
      }
    .heading--btwn{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3.2rem;
    }
}

// @media (max-width: 300px) { 
//     .heading__title{
//         font-size: 2.5rem;
//       }
//     .heading--btwn{
//     flex-direction: column;
//     align-items: flex-start;
//     margin-bottom: 3.2rem;
//     }
// }








  